.perfil {
    padding-top: 9.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    text-align: center;

    h1 {
        margin-bottom: 1.5rem;
    }

    &-form {
        margin-top: 6.5rem;
        margin-bottom: 12.7rem;

        display: grid;
        grid-template-columns:  1fr 5rem 1fr;

        &_input{

            label {
                font-size: 2.4rem;
            }

            .text{
                width: 25rem;
                height: 6.7rem;
               

                &::before {
                    content:"";
                    border-left: 1px solid black;
                    padding-left: 6rem;
                }
            }

            .buttons {
                margin-right: 6rem;
            }
        }
    }
}