input[type=text] {
    min-width: 11rem;
    max-width: 22rem;
    height: 6.7rem;   
    background: #BDBDBD;
    border-radius: 3.5rem;
    border: none;
    text-align: center;
    font-size: 1.8rem;
}

input[type=date] {
    min-width: 22rem;
    height: 6.7rem;   
    background: #BDBDBD;
    border-radius: 3.5rem;
    border: none;
    text-align: center;
    font-size: 2.4rem;
    position: relative;
    &::placeholder {
        color: white;
        font-size: 1.8em;
        text-transform: uppercase;
    }
    &::-webkit-input-placeholder {
        color: white;
        font-size: 1.8em;
        text-transform: uppercase;
    }

    &::-webkit-calendar-picker-indicator{
        width: 20px;
        height: 20px;
        position: absolute;
        left: calc(75% - 10px);
        top: calc(50% - 12px);
    }
}      

select { 
    max-width: 22rem;
    height: 6.7rem;
    padding: 0 3.5rem;   
    background-color: #BDBDBD;
    background-image: url("../../fonts/iconArrow.svg");
    background-repeat: no-repeat;
    background-position: center right 15px;
    border-radius: 3.5rem;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;

    option {
        color: white;
        max-width: 110px !important;
        // min-width: 320px;
        // width: 100%;
        height: 20px;
        text-decoration: underline;
        border-radius: 1.6rem;
        position: absolute;
      }
}

label {
    font-size: 2.4rem;
}



