input[type=text] {
    width: 13.2rem;
    height: 6.7rem;   
    background: #BDBDBD;
    border-radius: 3.5rem;
    border: none;
    text-align: center;
}



input[type=date], select {
    min-width: 22.9rem;
    height: 6.7rem;   
    background: #BDBDBD;
    border-radius: 3.5rem;
    border: none;
    text-align: center;
    font-size: 2.4rem;
}