.text {
    width: 426px;
    height: 114px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}