*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 62.5%; } /* =10px */


@media only screen and (max-width: 1100px) {
    html { font-size: 56.25%; } /* =10px / 16px */
}

@media only screen and (max-width: 768px) {
    html { font-size: 50%; } /* =8px / 16px */
}

@media only screen and (max-width: 375px) {
    html { font-size: 47.25%; } /* =7px  / 16 px*/
}

// html { font-size: 38.5%; } /* =10px */

body {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    padding: 2.5rem 3.6rem ;   
}

.marginBottom {
    margin-bottom: 2rem;
}

.marginRight {
    margin-right: 2rem;
}